#bottom_area {
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
}

.white_text {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 0;
    font-size: 40px;
}

#main_area {
    display: inline-block;
    justify-content: center;
}

.toTop-arrow {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.6;
    background: #000;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 10px;
    display: none;
}

.toTop-arrow::before, .toTop-arrow::after {
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: #f90;
    position: absolute;
    content: "";
}

.toTop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.5rem;
}

.toTop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.5rem;
}

.toTop-arrow:focus {
    outline: none;
}

.source {
    text-align: center;
    font-size: 40px;
    height: 50px;
    color: #404040;
    text-decoration: none;
    justify-content: center;
}

.img{
	display: block;
	margin:0 auto;
	width:100%;
}

#home-link {
    display: inline-block;
    margin-left: 16px;
    padding: 6px 16px;
    border-radius: 20px;
    text-decoration: none; !important;
    position: absolute;
    left: 16px;
    font-size: 40px; !important;
    height: 50px;
    color: rgba(255, 255, 255, 0.5); !important;
    -webkit-text-decoration: none; /* Safari 專用 */
}
#page, #loading {
    margin: 2px 0;
}
#center-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home-img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 8px;
}