<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/bootstrap5.1.1.min.css" rel="stylesheet">
    <script src="/bootstrap5.1.1.bundle.min.js"></script>
    <script src="/jquery-3.7.0.min.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Book">
    <link rel="apple-touch-icon" href="/img/book_192.png">
    <link rel="apple-touch-icon" href="/img/book_512.png">
    <link rel="icon" href="/img/favicon.ico" type="image/ico">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/ico">
    <link rel="apple-touch-icon" href="/img/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    {% block head %}{% endblock %}
</head>
<body>
<script src="/main.js"></script>
<div id="main_area">
</div>
{% block alter %}{% endblock %}
</body>
</html>