<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Book">
    <link rel="apple-touch-icon" href="/img/book_192.png">
    <link rel="apple-touch-icon" href="/img/book_512.png">
    <link rel="icon" href="/img/favicon.ico" type="image/ico">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/ico">
    <link rel="apple-touch-icon" href="/img/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    {% block head %}{% endblock %}
</head>
<body>
<script src="/main.js"></script>
<div id="main_area">
</div>
{% block alter %}{% endblock %}
</body>
</html>