{% extends "base.html" %}

{% block title %}a book{% endblock %}

{% block head %}<link rel="stylesheet" href="/book.css">{% endblock %}

{% block alter %}
<div id="bottom_area">
    <button type="button" id="home-link">Back</button>
    <div id="center-group">
        <p id="page" class="white_text">?/?</p>
        <p id="loading" class="white_text">Loading...0%</p>
    </div>
</div>
<button type="button" id="BackTop" class="toTop-arrow"></button>
<div id="custom-menu" class="custom-menu">
  <button id="custom-menu-action1">Go to Source</button>
  <button id="custom-menu-action2">Refresh Page</button>
</div>
<script src="/book.js"></script>
{% endblock %}